:root {
    --primary: oklch(0.212 0.019 322.12);
    --primary-foreground: oklch(0.985 0 0);
    --ring: oklch(0.711 0.019 323.02);
    --sidebar-primary: oklch(0.212 0.019 322.12);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-ring: oklch(0.711 0.019 323.02);
}

.dark {
    --primary: oklch(0.922 0.005 325.62);
    --primary-foreground: oklch(0.212 0.019 322.12);
    --ring: oklch(0.542 0.034 322.5);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-ring: oklch(0.542 0.034 322.5);
}